.form {
    margin: 40px;

    &__control {
        margin-bottom: 16px;
        font-family: sans-serif;
    }

    &__submit {
        cursor: pointer;

        &--sending {
            cursor: wait;
        }
    }
}