.title {
    font-size: 48px;
}

.mensagem {
    padding: 8px;
    border: 1px solid #333;
    border-radius: 8px;
}

.mensagem-titulo {
    font-size: 18px;
}

.mensagem-conteudo {
    font-size: 14px;
}

.mensagem-is-error {
    border-color: red;
    background-color: rgb(255, 226, 226);
    color: red;
}

.accordion {
    border: 1px solid #000;
}

.accordion-header {
    padding: 8px;
    cursor: pointer;
}

.accordion-content {
    padding: 8px;
    border-top: 1px solid #eee;
    display: none;
}

.accordion.is-open .accordion-content {
    display: block;
}